body{
    font-family: 'Poppins', sans-serif, Helvetica;
    margin: 0;
}
    h1{
        font-size: 30px;
        font-weight: bold;
        line-height: 15px;
    }
    .color{
        color: orange;
    }
    .new-flexible{
        display: flex;
        margin-bottom: 80px;
    }
    .same{
        width: 30%;
        padding-left: 3%;
        padding-top: 12%;
    }
    .same1 img{
        width: 80%;
    }
    .link-button{
        text-decoration: none;
        background-image: linear-gradient( orange, tomato);
        padding: 10px 30px;
        color: white;
        font-weight: 400;
        border-radius: 30px;
    }
    .food img{
        width: 25%;
        padding-top: 16%;
        padding-left: 40%;
    }
    .food1{
        width: 60%;
        padding-right: 20%;
        padding-top: 5%;
    }
    .about{
        background-image: url(images/shapes/7.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .link-button1{
        text-decoration: none;
        background-image: linear-gradient( orange, tomato);
        padding: 10px 30px 10px;
        color: white;
        font-weight: 400;
        border-radius: 30px;
    }
    .new-items{
        text-align: center;
    }
    .new-items1{
        line-height: 0px;
  text-align: center
    }
    .food2 img{
        width: 80%;
        padding-top: 16%;
        padding-left: 10%;
    }
    .title1{
        width: 80%;
        padding-top: 5%;
        padding-left: 5%;
    }
    #page{
        width: 80%;
        padding-top: 5%;
        padding-left: 5%;
    }
    .food3 img{
        width: 68%;
        padding-top: 12%;
        padding-left: 12%;
    }
    .title2{
        width: 60%;
        padding-top: 4%;
        padding-left: 12%;
    }
    #page1{
        width: 60%;
        padding-top: 3%;
        padding-left: 12%;
    }
    .food4 img{
        width: 75%;
        padding-top: 13%;
        padding right: 5%;
    }
    .title3{
        width: 60%;
        padding-top: 3%;
        padding-right: 5%;
    }
    #page2{
        width: 60%;
        padding-top: 3%;
        padding-right: 5%;
    }
    footer h2{
        text-align: center;
        padding-bottom: 0;
    }
    footer h6{
        text-align: center;
        padding-top: 0;
    }